body{
display: flex;
}
.container{
    width: 80;
    margin: 0%auto;
}
.wrapper{
   justify-content: space-between;

}
a{
    text-decoration: none;
}
.child-2{
    display: flex;
    justify-content: space-between;
}   